#mainCard
{
	height: 500px;
	width: 800px;
}

#addCourse
{
	margin-left: 400px;
	height: 50px;
	width: 100px;
}

#card
{
	float: left;
}

.input-field
{
	outline: 0px;
	border: 0px;
	width: 500px;
}

a
{
	float: right;
	margin: 20px;
	padding-right: 10px;
}

.contents
{
	border: 1px solid;
	margin-top: 10px;
	width: 500px;
}

.cardContent
{
	margin: 10px;
	padding-left: 20px;
}

.addCourseForm
{
	margin-top: 10px;
	float: left;
	border: 1px solid;
}

fieldset 
{
	border: 1px solid #ddd !important;
	margin: 0;
	padding: 10px;       
	position: relative;
	border-radius:4px;
	background-color:#f5f5f5;
	padding-left:10px!important;
}	

legend
{
	font-size:14px;
	font-weight:bold;
	margin-bottom: 0px; 
	width: 35%; 
	border: 1px solid #ddd;
	border-radius: 4px; 
	padding: 5px 5px 5px 10px; 
	background-color: #ffffff;
}

#index
{
	padding-bottom: 10px;
	margin: 10px;
}