#mainCard
{
	height: 500px;
	width: 800px;
	margin-right: 200px;
	/*background-color: skyblue;*/
}

#addCourse
{
	margin-left: 400px;
	height: 50px;
	width: 100px;
}

#card
{
	float: left;
}

.input-field
{
	outline: 0px;
	border: 0px;
	width: 500px;
}

a
{
	float: right;
	margin: 20px;
	padding-right: 10px;
}

#saveCourse
{
	margin-left: 350px;
	margin-right: 20px;
}

.contents
{
	border: 1px solid;
	margin-top: 10px;
	width: 500px;
}

.cardContent
{
	margin: 10px;
	padding-left: 20px;
}

.addCourseForm
{
	margin-top: 10px;
	float: left;
	border: 1px solid;
}

fieldset 
{
	border: 2px solid;
	margin: 0;
	padding: 10px;       
	position: relative;
	margin:10px;
}	

legend
{
	font-size:20px;
	font-weight:bold;
	margin-bottom: 0px; 
	width: 100%; 
	border: 1px;
	padding:10px;
	border-width: 20px unset;
	border-collapse: 10px;
	min-width: 20%;
}

#index
{
	padding-bottom: 10px;
	margin: 10px;
}

.errorMesssage
{
	color: red;
}